@import "compass_twitter_bootstrap";

b {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

path{
  shape-rendering:geometricPrecision;
}

g.day text, g.moon text {
  font-size: 5pt;
}

text.monthLabel {
 font-size: 21pt;
}

text.seasonLabel {
  font-size: 21pt;
}

g.day text.Sunday, g.day text.Saturday {
  fill: #F90;
}

g.month rect, g.season rect {
  fill: #666;
  stroke-width: 0;
}

g.axis circle {
  stroke: #999;
  fill-opacity: 0;
}

path.full_moon {
  fill: #FFF;
  stroke: #000;
}

path.new_moon {
  fill: #000;
  stroke: #000;
}


path.first_quarter, path.last_quarter {
  fill: #FFF;
  stroke: #FFF;
}

