@import "compass_twitter_bootstrap";


@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('../fonts/League_Gothic-webfont.eot');
  src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/League_Gothic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TypoSlabserifLightRegular';
  src: url('../fonts/TypoSlabserif-Light-webfont.eot');
  src: url('../fonts/TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TypoSlabserif-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


body {
  font-family: 'Sanchez', serif;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f9f8f3 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#f9f8f3)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f9f8f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f9f8f3 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f9f8f3 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#f9f8f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f8f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

path{
  shape-rendering:geometricPrecision;
}

g.grow path {
  fill: #82b966;
  stroke-opacity: 0;
}

g.frostLabel text {
  font-family: 'Sanchez', serif;
  font-size: 16pt;
  fill: #82b966;
}

g.day text, g.moon text {
  font-size: 4.5pt;
  font-family: Helvetica;
}

text.monthLabel {
  font-family: 'Sanchez', serif;
 font-size: 15pt;
  fill: rgb(105, 105, 105);
}

g.monthArc path {
  fill: rgb(206, 206, 206);
  stroke: #FFF;
}

path.seasonArc {
  fill: #FFF;
  stroke: #FFF;
}

path#Summer {
  fill: rgb(247, 208, 14);
}

text#SummerLabel{
  fill: rgb(179, 136, 17);
}

path#Spring {
  fill: rgb(174, 201, 55);
}

text#SpringLabel{
  fill: rgb(127, 151, 38);
}

path#Fall {
  fill: rgb(234, 101, 68);
}


text#FallLabel{
  fill: rgb(154, 66, 40);
}

path#Winter {
  fill: rgb(124, 180, 192);
}

text#WinterLabel{
  fill: rgb(81, 122, 131);
}

text.seasonLabel {
  font-family: 'Sanchez', serif;
  font-size: 15pt;
}

g.day circle {
  fill: rgb(206, 206, 206)
}

g.day circle.Sunday, g.day circle.Saturday {
  fill: #F90;
}

g.month rect, g.season rect {
  fill: #666;
  stroke-width: 0;
}

g.axis circle {
  stroke: #999;
  fill-opacity: 0;
}

path.full_moon {
  fill: #FFF;
  stroke: #000;
}

path.new_moon {
  fill: #000;
  stroke: #000;
}


path.first_quarter, path.last_quarter {
  fill: #FFF;
  stroke: #FFF;
}

#legend {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 315px;
}

g.precip rect {
  fill: #3B8B99;
}


g.snow rect {
  fill: #65DAF4;
}

g.mouseDay path {
  opacity: 0;
}
g.mouseDay path:hover {
  opacity: .15;
}


.selectedDate text {
  font-family: LeagueGothicRegular;
  line-height: 40pt;
  font-size: 40pt;
  color: black;
  text-anchor: end;
}

text#dayOfWeek {
  font-family: LeagueGothicRegular;
  line-height: 30pt;
  font-size: 30pt;
  color: black;
  text-anchor: end;
}


g.dayTempGrays rect {
  fill: rgb(241, 240, 235);
}