@import "compass_twitter_bootstrap";

body {
  font-family: "Bell MT";
  //font-style: italic;
}

path{
  shape-rendering:geometricPrecision;
}

g.grow path {
  fill: #82b966;
  stroke-opacity: 0;
}

g.frostLabel text {
  font-size: 16pt;
  fill: #82b966;
}

g.day text, g.moon text {
  font-size: 4.5pt;
  font-family: Helvetica;
}

text.monthLabel {
 font-size: 15pt;
}

g.monthArc path {
  fill: #fff;
  stroke: #E9E9E9;
}

path.seasonArc {
  fill: #FFF;
  stroke: #FFF;
}

path#Summer {
  fill: #F9B5B5;
}

path#Spring {
  fill: #D0FFB8;
}

path#Fall {
  fill: #FAE2B7;
}

path#Winter {
  fill: #BAD7FD;
}

text.seasonLabel {
  font-size: 15pt;
}

g.day text.Sunday, g.day text.Saturday {
  fill: #F90;
}

g.month rect, g.season rect {
  fill: #666;
  stroke-width: 0;
}

g.axis circle {
  stroke: #999;
  fill-opacity: 0;
}

path.full_moon {
  fill: #FFF;
  stroke: #000;
}

path.new_moon {
  fill: #000;
  stroke: #000;
}


path.first_quarter, path.last_quarter {
  fill: #FFF;
  stroke: #FFF;
}

#legend {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 315px;
}

g.precip rect {
  fill: #3B8B99;
}


g.snow rect {
  fill: #65DAF4;
}


